<div class="cover">
    <img src="../../assets/images/image1.jpeg" alt="" srcset="">
    <span class="badge badge-secondary city-badge">Halifax</span>
    <a mat-raised-button class="bus-tickets" [queryParams]="{destination: 'Halifax'}" routerLink="/bus-bookings">
        <fa-icon [icon]="faBus"></fa-icon>
        <span style="margin-left: 10px;">Bus Tickets</span>
    </a>
</div>

<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-4" *ngFor="let item of places" >
            <app-info-card [place]="item"></app-info-card>
        </div>
    </div>
</div>