<div class="row">
    <div class="col-md-6">
        <h1>Order Summary</h1>
        <table style="margin-top: 50px;" class="table table-striped">
            <tbody>
                <tr>
                    <th>From</th>
                    <td>Source City</td>
                </tr>
                <tr>
                    <th>To</th>
                    <td>Dest City</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>DD-MMM-YYYY</td>
                </tr>
                <tr>
                    <th>Time</th>
                    <td>24HH:MM</td>
                </tr>
                <tr>
                    <th>Number of Tickets</th>
                    <td>2</td>
                </tr>
                <tr>
                    <th>Cost</th>
                    <td>$ 123,45</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h1>Credit Card Details</h1>
        <label style="margin-top: 50px;" for="cardNumber">16 Digit Number: <input name="cardNumber" placeholder="5555 5555 5555 5555"
                type="text" /></label>
        <br />
        <label for="CVV">CVV: <input name="CVV" type="password" maxlength="4" /></label>
        <br />
        <label for="expiry">Expiry Date (MMYY): <input name="expiry" type="text" placeholder="MMYY" maxlength="4" /></label>
        <br />
        <button mat-raised-button>Pay</button>
    </div>
</div>

